body{
    background: #89d11d;
background: linear-gradient(90deg, rgba(137, 209, 29, 1) 0%, rgba(108, 113, 212, 1) 53%, rgba(8, 158, 0, 1) 100%);
display: flex;
justify-content: center;
align-items: center;
margin-top: 200px;
}
#clockBlock{
    width: 600px;
    height: 300px;
    border: 2px solid green;
    text-align: center;
    font-size: 120px;
   display: flex;
   align-items: center;
   justify-content: center;
   box-shadow:1px 2px 3px 4px #182800;
}